<p class=""></p>
<tr>
    <td>
        <span class="font-medium">Diário Oficial do Estado de Santa Catarina</span><br>
        <span class="text-muted">Santa Catarina - Diários do Executivo</span><br>
        <span class="text-muted">EMENTA
            TRIBUTÁRIO. ICMS. PIS/COFINS. TESE FIRMADA<br>
            PELO SUPREMO TRIBUNAL FEDERAL NO JULGAMENTO<br>
            DO RE N. 574.706/PR, CUJA MATÉRIATEVE A SUA...<br>
            <button type="button" class="btn btn-sm waves-effect waves-light btn-rounded btn-outline-dark" data-toggle="modal" data-target="#intimacao_content1"><i class="fas fa-search"></i> Leia na Íntegra</button>
            <span class="badge text-white font-normal badge-pill badge-warning blue-grey-text text-darken-4 mr-2">Nova</span>
        </span>
    </td>
    <td> 
        Página: <span class="font-medium">123456</span><br>
        <span class="text-muted">Não conseguimos identificar o processo </span><i class="icon-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Localizamos o termo de pesquisa mas não foi possível identificar o processo"></i><br>
        <button type="button" class="btn waves-effect waves-light btn-rounded btn-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Clique para Descartar esta publicação"><i class="far fa-trash-alt"></i> Descartar</button>
    </td>
</tr>